  <p>
    <label><%= t("stock_keeper_reservation_minutes") %></label>
    <%= text_field_tag('stock_keeper_reservation_minutes', Spree::StockKeeper::Config[:stock_keeper_reservation_minutes]) %>
  </p>
